.home-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.home__second-image--rotate img {
  transform: rotate(180deg);
}

.content-center {
  text-align: center;
}

.home__buy-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home__buy-button:hover {
  background-color: transparent;
  color: #000;
}

.vtex-menu-2-x-menuContainer {
  display: none;
}